@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full min-h-screen bg-slate-50 text-slate-900;
}

body {
  @apply m-0 flex min-h-screen flex-col antialiased;
}

#app {
  @apply flex h-full flex-1;
}
